---
---

/*@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";*/
@import "minima";

.post-content h1 {
  color: red;
  margin-bottom: $spacing-unit;
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}