---
---

/*@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";*/
@import "minima";

.post-content h1, h1.post-list-heading {
  margin-bottom: $spacing-unit;
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}
dt {
  margin-top: 3em;
}
dt:first-child {
  margin-top: 0;
}
dd {
  margin-top: 0.5em;
  margin-left: 2em;
}
dd:first-child {
  margin-top: 0;
}
